CREATE DATABASE [GROUP5_AAL]
GO
USE [GROUP5_AAL]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 22/04/2012 14:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[USERNAME] [nvarchar](30) NOT NULL,
	[PASSWORD] [nvarchar](20) NOT NULL,
	[FULLNAME] [nvarchar](30) NOT NULL,
	[AGE] [int] NOT NULL,
	[EMAIL] [varchar](30) NOT NULL,
	[ADDRESS] [nvarchar](50) NOT NULL,
	[PHONE] [varchar](20) NOT NULL,
	[STATUS] [bit] NOT NULL,
	[LEVEL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CUSTOMER] ([USERNAME], [PASSWORD], [FULLNAME], [AGE], [EMAIL], [ADDRESS], [PHONE], [STATUS], [LEVEL]) VALUES (N'aptech', N'123456', N'aptech', 20, N'hieuy2klove@gmail.com', N'HN', N'0933323899', 1, 0)
INSERT [dbo].[CUSTOMER] ([USERNAME], [PASSWORD], [FULLNAME], [AGE], [EMAIL], [ADDRESS], [PHONE], [STATUS], [LEVEL]) VALUES (N'vietnam', N'123', N'vietnam', 12, N'hello_mard@gmail.com', N'ha noi', N'0123456789', 1, 11)
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 22/04/2012 14:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_NAME] [nvarchar](20) NOT NULL,
	[DESCRIPTION] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORY] ON
INSERT [dbo].[CATEGORY] ([CATEGORY_ID], [CATEGORY_NAME], [DESCRIPTION]) VALUES (1, N'Accessories', N'Accessories')
INSERT [dbo].[CATEGORY] ([CATEGORY_ID], [CATEGORY_NAME], [DESCRIPTION]) VALUES (2, N'Tyres', N'Tyres')
INSERT [dbo].[CATEGORY] ([CATEGORY_ID], [CATEGORY_NAME], [DESCRIPTION]) VALUES (3, N'Wheels', N'Wheels')
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
/****** Object:  Table [dbo].[BENEFIT]    Script Date: 22/04/2012 14:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENEFIT](
	[BENEFIT_ID] [int] IDENTITY(1,1) NOT NULL,
	[MIN_COST] [float] NOT NULL,
	[MAX_COST] [float] NOT NULL,
	[PERCENT] [float] NOT NULL,
	[STATUS] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[BENEFIT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BENEFIT] ON
INSERT [dbo].[BENEFIT] ([BENEFIT_ID], [MIN_COST], [MAX_COST], [PERCENT], [STATUS]) VALUES (1, 300, 500, 0.5, 1)
INSERT [dbo].[BENEFIT] ([BENEFIT_ID], [MIN_COST], [MAX_COST], [PERCENT], [STATUS]) VALUES (2, 500, 800, 1, 1)
INSERT [dbo].[BENEFIT] ([BENEFIT_ID], [MIN_COST], [MAX_COST], [PERCENT], [STATUS]) VALUES (3, 800, 1200, 1.5, 1)
SET IDENTITY_INSERT [dbo].[BENEFIT] OFF
/****** Object:  Table [dbo].[FACTORY]    Script Date: 22/04/2012 14:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTORY](
	[FACTORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[FACTORY_NAME] [nvarchar](30) NOT NULL,
	[DESCRIPTION] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FACTORY_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FACTORY] ON
INSERT [dbo].[FACTORY] ([FACTORY_ID], [FACTORY_NAME], [DESCRIPTION]) VALUES (1, N'JAT', N'Công ty cổ phần sản xuất phụ tùng ô tô và thiết bị công nghiệp JAT')
INSERT [dbo].[FACTORY] ([FACTORY_ID], [FACTORY_NAME], [DESCRIPTION]) VALUES (2, N'Schlemmer ', N'Công ty TNHH phụ tùng ô tô Schlemmer Việt Nam')
INSERT [dbo].[FACTORY] ([FACTORY_ID], [FACTORY_NAME], [DESCRIPTION]) VALUES (3, N'Kachi ', N'Công ty cổ phần thương mại ô tô KACHI')
SET IDENTITY_INSERT [dbo].[FACTORY] OFF
/****** Object:  Table [dbo].[ADMIN]    Script Date: 22/04/2012 14:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[USERNAME] [nvarchar](20) NOT NULL,
	[PASSWORD] [nvarchar](30) NOT NULL,
	[PERMISSION] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ADMIN] ([USERNAME], [PASSWORD], [PERMISSION]) VALUES (N'admin', N'admin', N'0')
INSERT [dbo].[ADMIN] ([USERNAME], [PASSWORD], [PERMISSION]) VALUES (N'factory1', N'123', N'1')
INSERT [dbo].[ADMIN] ([USERNAME], [PASSWORD], [PERMISSION]) VALUES (N'factory2', N'123', N'2')
/****** Object:  Table [dbo].[WAREHOUSE]    Script Date: 22/04/2012 14:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAREHOUSE](
	[WAREHOUSE_ID] [int] IDENTITY(1,1) NOT NULL,
	[FACTORY_ID] [int] NOT NULL,
	[WAREHOUSE_NAME] [nvarchar](30) NOT NULL,
	[LOCATION] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WAREHOUSE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[WAREHOUSE] ON
INSERT [dbo].[WAREHOUSE] ([WAREHOUSE_ID], [FACTORY_ID], [WAREHOUSE_NAME], [LOCATION]) VALUES (2, 1, N'JAT - wh', N'Ha Noi')
INSERT [dbo].[WAREHOUSE] ([WAREHOUSE_ID], [FACTORY_ID], [WAREHOUSE_NAME], [LOCATION]) VALUES (4, 2, N'Schlemmer - wh', N'Ha Noi')
INSERT [dbo].[WAREHOUSE] ([WAREHOUSE_ID], [FACTORY_ID], [WAREHOUSE_NAME], [LOCATION]) VALUES (5, 3, N'Kachi - wh', N'Ha Noi')
SET IDENTITY_INSERT [dbo].[WAREHOUSE] OFF
/****** Object:  StoredProcedure [dbo].[searchCustomer]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[searchCustomer]
	@username NVARCHAR(30)
AS SELECT * FROM CUSTOMER WHERE USERNAME LIKE '%'+@username+'%'
GO
/****** Object:  StoredProcedure [dbo].[register]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[register]
	@username NVARCHAR(30),
	@pass NVARCHAR(20),
	@fullname NVARCHAR(30),
	@age int,
	@email NVARCHAR(30),
	@address NVARCHAR(50),
	@phone int
AS INSERT INTO CUSTOMER(USERNAME,PASSWORD,FULLNAME,AGE,EMAIL,ADDRESS,PHONE,STATUS) VALUES(@username,@pass,@fullname,@age,@email,@address,@phone,'TRUE')
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 22/04/2012 14:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDER](
	[ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](30) NOT NULL,
	[RECENT_LEVEL] [int] NOT NULL,
	[ORDER_DATE] [datetime] NULL,
	[TOTAL_PRICE] [float] NOT NULL,
	[TOTAL_PRICE_AFTER_CHECK] [float] NULL,
	[STATUS] [varchar](20) NOT NULL,
 CONSTRAINT [PK__ORDER__460A94641CF15040] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ORDER] ON
INSERT [dbo].[ORDER] ([ORDER_ID], [USERNAME], [RECENT_LEVEL], [ORDER_DATE], [TOTAL_PRICE], [TOTAL_PRICE_AFTER_CHECK], [STATUS]) VALUES (8, N'vietnam', 0, CAST(0x00009FEA000B444B AS DateTime), 2200, 1680, N'Paid')
INSERT [dbo].[ORDER] ([ORDER_ID], [USERNAME], [RECENT_LEVEL], [ORDER_DATE], [TOTAL_PRICE], [TOTAL_PRICE_AFTER_CHECK], [STATUS]) VALUES (9, N'vietnam', 0, CAST(0x0000A001000B6960 AS DateTime), 440, 220, N'Paid')
INSERT [dbo].[ORDER] ([ORDER_ID], [USERNAME], [RECENT_LEVEL], [ORDER_DATE], [TOTAL_PRICE], [TOTAL_PRICE_AFTER_CHECK], [STATUS]) VALUES (10, N'vietnam', 5, CAST(0x0000A0070010F8F7 AS DateTime), 1072.5, 1072.5, N'Paid')
SET IDENTITY_INSERT [dbo].[ORDER] OFF
/****** Object:  StoredProcedure [dbo].[getPercentOfBenefitFromLevel]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getPercentOfBenefitFromLevel]
	@userName varchar(20)
AS
BEGIN
	DECLARE @level int
	SET @level = (SELECT [LEVEL] FROM CUSTOMER WHERE USERNAME like @userName)
	IF EXISTS (SELECT [PERCENT] FROM BENEFIT WHERE BENEFIT_ID = @level)
		SELECT BENEFIT_ID, [PERCENT] FROM BENEFIT WHERE BENEFIT_ID = @level
	ELSE
		SELECT 0 as BENEFIT_ID, 0 as [PERCENT]
END
GO
/****** Object:  StoredProcedure [dbo].[getPercentOfBenefit]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getPercentOfBenefit]
	@sumTotalPrice FLOAT
AS
	IF EXISTS(SELECT b.[PERCENT] FROM BENEFIT b
	WHERE @sumTotalPrice > b.MIN_COST and @sumTotalPrice > b.MAX_COST)
	SELECT b.[PERCENT] FROM BENEFIT b
	WHERE @sumTotalPrice > b.MIN_COST and @sumTotalPrice > b.MAX_COST
	 ELSE
	SELECT 0 as [PERCENT]
GO
/****** Object:  StoredProcedure [dbo].[getMaxCostBeforeAddNew]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getMaxCostBeforeAddNew]
AS	SELECT MAX(MAX_COST) AS MAX_COST,MAX([PERCENT]) AS [PERCENT] FROM BENEFIT
GO
/****** Object:  StoredProcedure [dbo].[getAllBenefitByLevelOfCustomer]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getAllBenefitByLevelOfCustomer]
	@level int
AS
	SELECT * FROM BENEFIT WHERE BENEFIT_ID = @level
GO
/****** Object:  StoredProcedure [dbo].[getAccountAndPermission]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getAccountAndPermission]
	@account varchar(30),
	@password varchar(30)
AS
	SELECT * FROM [ADMIN] ad WHERE ad.USERNAME = @account AND ad.PASSWORD = @password
GO
/****** Object:  StoredProcedure [dbo].[addNewBenefit]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[addNewBenefit]
	@minCost float,
	@maxCost float,
	@percent float
AS
	INSERT INTO BENEFIT(MIN_COST,MAX_COST,[PERCENT],STATUS) VALUES(@minCost,@maxCost,@percent,'true')
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 22/04/2012 14:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_ID] [int] NOT NULL,
	[PRODUCT_NAME] [varchar](50) NOT NULL,
	[PRICE] [float] NOT NULL,
	[DESCRIPTION] [nvarchar](200) NOT NULL,
	[IMAGES] [varchar](50) NOT NULL,
	[STATUS] [bit] NOT NULL,
 CONSTRAINT [PK__PRODUCT__52B417631920BF5C] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT] ON
INSERT [dbo].[PRODUCT] ([PRODUCT_ID], [CATEGORY_ID], [PRODUCT_NAME], [PRICE], [DESCRIPTION], [IMAGES], [STATUS]) VALUES (1, 3, N'SPORT MAXX', 200, N'Nowadays we have great opportunities to satisfy our demands with the high quality products. We are proud to present our wonderful choice of wheels and tires. ', N'l4.png', 0)
INSERT [dbo].[PRODUCT] ([PRODUCT_ID], [CATEGORY_ID], [PRODUCT_NAME], [PRICE], [DESCRIPTION], [IMAGES], [STATUS]) VALUES (2, 2, N' ER300 ECOPIA', 300, N'You must remember that we have a great number of different promos so you can get a pretty good discount in our store. ', N'b1.jpg', 0)
INSERT [dbo].[PRODUCT] ([PRODUCT_ID], [CATEGORY_ID], [PRODUCT_NAME], [PRICE], [DESCRIPTION], [IMAGES], [STATUS]) VALUES (3, 2, N'POTENZA RE050A', 260, N'The interesting design is very important thing in our sphere and we are trying to stay in touch with the latest fashion trends. ', N'c11.png', 0)
SET IDENTITY_INSERT [dbo].[PRODUCT] OFF
/****** Object:  StoredProcedure [dbo].[deleteCustomer]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC [dbo].[deleteCustomer]
	@username NVARCHAR(30)
AS UPDATE CUSTOMER SET STATUS='FALSE' WHERE USERNAME=@username
GO
/****** Object:  StoredProcedure [dbo].[deleteBenefit]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deleteBenefit]
	@id int
as update BENEFIT set STATUS='false' where BENEFIT_ID=@id
GO
/****** Object:  StoredProcedure [dbo].[displayCustomer]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[displayCustomer]
	@username NVARCHAR(30)
AS SELECT * FROM CUSTOMER WHERE USERNAME=@username
GO
/****** Object:  StoredProcedure [dbo].[detail]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[detail]
	@id int
as select * from BENEFIT where BENEFIT_ID=@id
GO
/****** Object:  StoredProcedure [dbo].[checkUsernameExist]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[checkUsernameExist]
	@username NVARCHAR(30)
AS SELECT * FROM CUSTOMER WHERE USERNAME=@username
GO
/****** Object:  StoredProcedure [dbo].[checkLogin]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[checkLogin]
	@username NVARCHAR(30),
	@pass NVARCHAR(20)
AS 
SELECT * FROM Customer WHERE Username=@username and Password=@pass
GO
/****** Object:  StoredProcedure [dbo].[allCategory]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[allCategory]
AS 
SELECT * FROM CATEGORY
GO
/****** Object:  StoredProcedure [dbo].[allBenifit]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[allBenifit]
as select * from BENEFIT where STATUS='true'
GO
/****** Object:  StoredProcedure [dbo].[adminViewCustomer]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[adminViewCustomer]
AS SELECT * FROM CUSTOMER WHERE STATUS='TRUE'
GO
/****** Object:  StoredProcedure [dbo].[allWarehouse]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[allWarehouse]
AS 
SELECT * FROM WAREHOUSE
GO
/****** Object:  StoredProcedure [dbo].[divPriceInOrder]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[divPriceInOrder]
	@priceDiv float,
	@orderId int
AS
	UPDATE [ORDER]
		SET TOTAL_PRICE_AFTER_CHECK = TOTAL_PRICE - @priceDiv
		WHERE ORDER_ID = @orderId
GO
/****** Object:  StoredProcedure [dbo].[divAndAddPriceInOrder]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[divAndAddPriceInOrder]
	@price float,
	@orderId int
AS
	UPDATE [ORDER]
		SET TOTAL_PRICE_AFTER_CHECK = @price
		WHERE ORDER_ID = @orderId
GO
/****** Object:  StoredProcedure [dbo].[addPriceInOrder]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[addPriceInOrder]
	@priceDiv float,
	@orderId int
AS
	UPDATE [ORDER]
		SET TOTAL_PRICE_AFTER_CHECK = TOTAL_PRICE_AFTER_CHECK + @priceDiv
		WHERE ORDER_ID = @orderId
GO
/****** Object:  StoredProcedure [dbo].[checkLevelUpOfCustomer]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[checkLevelUpOfCustomer]
	@userName varchar(30)
AS
BEGIN	
	DECLARE @levelInOrder int;
	DECLARE	@newLevel int;
	SET @levelInOrder = (select max(o.RECENT_LEVEL) as MAX_RECENT_LEVEL FROM [ORDER] o where o.USERNAME = @userName)
	SET @newLevel = (SELECT [LEVEL] FROM CUSTOMER WHERE USERNAME = @userName)
	IF @levelInOrder<@newLevel
		SELECT 1 AS LEVEL_UP
	ELSE 
		SELECT 0 AS LEVEL_UP
END
GO
/****** Object:  StoredProcedure [dbo].[deleteOrderOfCustomer]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[deleteOrderOfCustomer]
	@orderID int 
AS UPDATE [ORDER] SET STATUS='FALSE' WHERE ORDER_ID=@orderID
GO
/****** Object:  StoredProcedure [dbo].[getAllPriceOfCustomer]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getAllPriceOfCustomer]
	@userName varchar(30)
AS	
	SELECT ROUND(SUM(O.TOTAL_PRICE_AFTER_CHECK),0) AS TOTAL_PRICE_CUSTOMER FROM [ORDER] O WHERE O.USERNAME LIKE @userName
GO
/****** Object:  Table [dbo].[ORDER_DETAILS]    Script Date: 22/04/2012 14:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDER_DETAILS](
	[ORDER_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[QUANTITY_ACCEPT] [int] NULL,
	[STATUS] [varchar](20) NOT NULL,
 CONSTRAINT [PK_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC,
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ORDER_DETAILS] ([ORDER_ID], [PRODUCT_ID], [QUANTITY], [QUANTITY_ACCEPT], [STATUS]) VALUES (8, 2, 3, 2, N'SOLD OUT')
INSERT [dbo].[ORDER_DETAILS] ([ORDER_ID], [PRODUCT_ID], [QUANTITY], [QUANTITY_ACCEPT], [STATUS]) VALUES (8, 3, 5, 3, N'DELIVERED')
INSERT [dbo].[ORDER_DETAILS] ([ORDER_ID], [PRODUCT_ID], [QUANTITY], [QUANTITY_ACCEPT], [STATUS]) VALUES (9, 4, 2, 2, N'DELIVERED')
/****** Object:  StoredProcedure [dbo].[getOrderByOrderId]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getOrderByOrderId]
	@orderId int
AS
	SELECT * FROM [ORDER] WHERE ORDER_ID = @orderId
GO
/****** Object:  StoredProcedure [dbo].[getFactoryAndWarehouseByFactoryId]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getFactoryAndWarehouseByFactoryId]
	@factoryId int
AS
	SELECT * FROM FACTORY f INNER JOIN WAREHOUSE wh ON f.FACTORY_ID = wh.FACTORY_ID WHERE f.FACTORY_ID = @factoryId
GO
/****** Object:  StoredProcedure [dbo].[getDetailSubPriceByDay]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getDetailSubPriceByDay]
	@day int
AS
	SELECT * FROM [ORDER] o WHERE o.ORDER_DATE between datediff ( dd,@day ,getdate()) and getdate()
GO
/****** Object:  StoredProcedure [dbo].[getOrderIdNew]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getOrderIdNew]
AS
	SELECT MAX(ORDER_ID) AS ORDER_ID_NEW FROM [ORDER]
GO
/****** Object:  StoredProcedure [dbo].[getTotalPriceAllOrderOfCustomer]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getTotalPriceAllOrderOfCustomer]
	@userName varchar(30)
AS
SELECT SUM(TOTAL_PRICE_AFTER_CHECK) AS TOTAL_ALL_PRICE FROM [ORDER] WHERE USERNAME like @userName
GO
/****** Object:  StoredProcedure [dbo].[getTotalAllPriceAndSetLevelForCustomer]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getTotalAllPriceAndSetLevelForCustomer]
	@userName varchar(30)
AS
BEGIN	
	BEGIN TRY		
		BEGIN TRANSACTION ts_GetPriceAndSetLevel;

		-- Get All Total Price By Order Of Customer
		DECLARE @totalAllPrice float
		SET @totalAllPrice = (SELECT SUM(TOTAL_PRICE_AFTER_CHECK) AS TOTAL_ALL_PRICE FROM [ORDER] WHERE USERNAME like @userName)
		-- Get Level By Total All Price
		DECLARE @levelUp int
		SET @levelUp = (SELECT BENEFIT_ID FROM BENEFIT WHERE MIN_COST<= @totalAllPrice AND @totalAllPrice<MAX_COST)
		IF(@levelUp is null)
			SET @levelUp = 0
		-- Set Level for Customer
		UPDATE CUSTOMER
			SET [LEVEL] = @levelUp
			WHERE USERNAME like @userName

		COMMIT TRANSACTION ts_GetPriceAndSetLevel;
		PRINT 'Successfully';
	END TRY
	BEGIN CATCH
		PRINT 'rollback';
		ROLLBACK TRAN ts_GetPriceAndSetLevel;	
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[getSubPriceByDay]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getSubPriceByDay]
	@day int
AS
	SELECT ROUND(SUM(o.TOTAL_PRICE_AFTER_CHECK),0) AS SUB_PRICE FROM [ORDER] o WHERE o.ORDER_DATE between datediff ( dd,@day ,getdate()) and getdate()
GO
/****** Object:  Table [dbo].[PRODUCT_WAREHOUSE]    Script Date: 22/04/2012 14:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCT_WAREHOUSE](
	[PRODUCT_ID] [int] NOT NULL,
	[WAREHOUSE_ID] [int] NOT NULL,
	[QUANTIY] [int] NOT NULL,
	[QUANTITY_IN_ORDER] [int] NOT NULL,
	[SELL_OFF] [float] NULL,
	[DATE] [datetime] NULL,
	[RATING] [int] NOT NULL,
	[STATUS] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ORDER] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC,
	[WAREHOUSE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PRODUCT_WAREHOUSE] ([PRODUCT_ID], [WAREHOUSE_ID], [QUANTIY], [QUANTITY_IN_ORDER], [SELL_OFF], [DATE], [RATING], [STATUS]) VALUES (1, 2, 200, 5, 5, CAST(0x00009E5E00000000 AS DateTime), 0, N'true')
INSERT [dbo].[PRODUCT_WAREHOUSE] ([PRODUCT_ID], [WAREHOUSE_ID], [QUANTIY], [QUANTITY_IN_ORDER], [SELL_OFF], [DATE], [RATING], [STATUS]) VALUES (2, 4, 300, 10, 50, CAST(0x00009E5E00000000 AS DateTime), 0, N'true')
INSERT [dbo].[PRODUCT_WAREHOUSE] ([PRODUCT_ID], [WAREHOUSE_ID], [QUANTIY], [QUANTITY_IN_ORDER], [SELL_OFF], [DATE], [RATING], [STATUS]) VALUES (3, 5, 200, 36, 12, CAST(0x00009E5E00000000 AS DateTime), 0, N'true')
/****** Object:  Table [dbo].[RATE]    Script Date: 22/04/2012 14:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RATE](
	[RATE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[USERNAME] [nvarchar](30) NOT NULL,
	[DATE] [datetime] NULL,
	[RATE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RATE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RATE] ON
INSERT [dbo].[RATE] ([RATE_ID], [PRODUCT_ID], [USERNAME], [DATE], [RATE]) VALUES (1, 3, N'vietnam', CAST(0x00009FFF012D818D AS DateTime), 3)
INSERT [dbo].[RATE] ([RATE_ID], [PRODUCT_ID], [USERNAME], [DATE], [RATE]) VALUES (2, 4, N'vietnam', CAST(0x0000A00500E56AAD AS DateTime), 5)
INSERT [dbo].[RATE] ([RATE_ID], [PRODUCT_ID], [USERNAME], [DATE], [RATE]) VALUES (3, 2, N'vietnam', CAST(0x0000A00500E580A6 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[RATE] OFF
/****** Object:  StoredProcedure [dbo].[insertIntoOrder]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insertIntoOrder]
	@username NVARCHAR(30),
	@recentlevel int,
	@totalPrice float,
	@status varchar(30)
AS
	INSERT INTO [ORDER](USERNAME,RECENT_LEVEL,ORDER_DATE,TOTAL_PRICE,[STATUS]) VALUES(@username,@recentlevel,GETDATE(),@totalPrice,@status)
GO
/****** Object:  StoredProcedure [dbo].[sumTotalPriceOfOrder]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sumTotalPriceOfOrder]
	@userName varchar(20)
AS
	IF not EXISTS(SELECT SUM(o.TOTAL_PRICE) AS TOTAL_ALL_PRICE FROM [ORDER] o 
		INNER JOIN CUSTOMER c on o.USERNAME LIKE c.USERNAME WHERE c.USERNAME like @userName and o.[STATUS] like 'Paid')
		SELECT SUM(o.TOTAL_PRICE) AS TOTAL_ALL_PRICE FROM [ORDER] o 
		INNER JOIN CUSTOMER c on o.USERNAME LIKE c.USERNAME WHERE c.USERNAME like @userName and o.[STATUS] like 'Paid'
	ELSE
	SELECT 0 AS TOTAL_ALL_PRICE
GO
/****** Object:  StoredProcedure [dbo].[viewOrderCustomer]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[viewOrderCustomer]
	@username NVARCHAR(30)
AS
SELECT * FROM FACTORY F INNER JOIN WAREHOUSE W ON F.FACTORY_ID=W.FACTORY_ID
INNER JOIN PRODUCT_WAREHOUSE PW ON PW.WAREHOUSE_ID=W.WAREHOUSE_ID
INNER JOIN PRODUCT P ON P.PRODUCT_ID=PW.PRODUCT_ID
INNER JOIN ORDER_DETAILS OD ON OD.PRODUCT_ID=P.PRODUCT_ID
INNER JOIN [ORDER] O ON O.ORDER_ID=OD.ORDER_ID
INNER JOIN CUSTOMER C ON O.USERNAME=C.USERNAME 
WHERE O.USERNAME=@username AND O.STATUS='TRUE'
GO
/****** Object:  StoredProcedure [dbo].[updateStatusForOrderDetail]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updateStatusForOrderDetail]
	@status varchar(20),
	@quantityAccept int,
	@orderId int,
	@productId int
AS
	UPDATE ORDER_DETAILS
		SET [STATUS] = @status, QUANTITY_ACCEPT = @quantityAccept
		WHERE ORDER_ID = @orderId and PRODUCT_ID = @productId
GO
/****** Object:  StoredProcedure [dbo].[topProduct]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[topProduct]
AS 
SELECT top (12) * FROM CATEGORY c INNER JOIN PRODUCT p ON c.CATEGORY_ID = p.CATEGORY_ID 
INNER JOIN PRODUCT_WAREHOUSE pw ON p.PRODUCT_ID = pw.PRODUCT_ID
INNER JOIN WAREHOUSE w ON pw.WAREHOUSE_ID = w.WAREHOUSE_ID
INNER JOIN FACTORY f ON w.FACTORY_ID = f.FACTORY_ID 
WHERE p.STATUS = 'true'
ORDER BY p.PRODUCT_ID DESC
GO
/****** Object:  StoredProcedure [dbo].[stockByWarehouse]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[stockByWarehouse]
	@wareName NVARCHAR(30)
AS SELECT * FROM CATEGORY c INNER JOIN PRODUCT p ON c.CATEGORY_ID = p.CATEGORY_ID 
INNER JOIN PRODUCT_WAREHOUSE pw ON p.PRODUCT_ID = pw.PRODUCT_ID
INNER JOIN WAREHOUSE w ON pw.WAREHOUSE_ID = w.WAREHOUSE_ID
INNER JOIN FACTORY f ON w.FACTORY_ID = f.FACTORY_ID 
WHERE (pw.QUANTIY-pw.QUANTITY_IN_ORDER>0) AND w.WAREHOUSE_NAME=@wareName
GO
/****** Object:  StoredProcedure [dbo].[stock]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[stock]
AS SELECT * FROM CATEGORY c INNER JOIN PRODUCT p ON c.CATEGORY_ID = p.CATEGORY_ID 
INNER JOIN PRODUCT_WAREHOUSE pw ON p.PRODUCT_ID = pw.PRODUCT_ID
INNER JOIN WAREHOUSE w ON pw.WAREHOUSE_ID = w.WAREHOUSE_ID
INNER JOIN FACTORY f ON w.FACTORY_ID = f.FACTORY_ID 
WHERE (pw.QUANTIY-pw.QUANTITY_IN_ORDER>0)
GO
/****** Object:  StoredProcedure [dbo].[setQuantityForProductWareHouse]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[setQuantityForProductWareHouse]
	@quantityAccept int,
	@permission int,
	@productId int
AS
BEGIN
	DECLARE @warehouseId int
	SET	@warehouseId = (SELECT [WAREHOUSE_ID] FROM WAREHOUSE WHERE FACTORY_ID = @permission)
	UPDATE PRODUCT_WAREHOUSE
		SET QUANTITY_IN_ORDER = QUANTITY_IN_ORDER + @quantityAccept
		WHERE PRODUCT_ID = @productId AND WAREHOUSE_ID = @warehouseId
END
GO
/****** Object:  StoredProcedure [dbo].[searchProduct]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[searchProduct]
	@text nvarchar(20)
AS 
SELECT top (6) * FROM CATEGORY c INNER JOIN PRODUCT p ON c.CATEGORY_ID = p.CATEGORY_ID 
INNER JOIN PRODUCT_WAREHOUSE pw ON p.PRODUCT_ID = pw.PRODUCT_ID
INNER JOIN WAREHOUSE w ON pw.WAREHOUSE_ID = w.WAREHOUSE_ID
INNER JOIN FACTORY f ON w.FACTORY_ID = f.FACTORY_ID 
WHERE p.STATUS = 'true' AND p.PRODUCT_NAME like '%'+@text+'%'
ORDER BY p.PRODUCT_ID DESC
GO
/****** Object:  StoredProcedure [dbo].[rejectedMaterialByWarehouse]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[rejectedMaterialByWarehouse]	
	@wareName NVARCHAR(30)
AS 
SELECT * FROM FACTORY F INNER JOIN WAREHOUSE W ON F.FACTORY_ID=W.FACTORY_ID
INNER JOIN PRODUCT_WAREHOUSE PW ON PW.WAREHOUSE_ID=W.WAREHOUSE_ID
INNER JOIN PRODUCT P ON P.PRODUCT_ID=PW.PRODUCT_ID
INNER JOIN ORDER_DETAILS OD ON OD.PRODUCT_ID=P.PRODUCT_ID
INNER JOIN [ORDER] O ON O.ORDER_ID=OD.ORDER_ID
INNER JOIN CUSTOMER C ON O.USERNAME=C.USERNAME
WHERE OD.STATUS='SOLD OUT' and w.WAREHOUSE_NAME=@wareName
GO
/****** Object:  StoredProcedure [dbo].[rejectedMaterial]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[rejectedMaterial]
AS 
SELECT * FROM FACTORY F INNER JOIN WAREHOUSE W ON F.FACTORY_ID=W.FACTORY_ID
INNER JOIN PRODUCT_WAREHOUSE PW ON PW.WAREHOUSE_ID=W.WAREHOUSE_ID
INNER JOIN PRODUCT P ON P.PRODUCT_ID=PW.PRODUCT_ID
INNER JOIN ORDER_DETAILS OD ON OD.PRODUCT_ID=P.PRODUCT_ID
INNER JOIN [ORDER] O ON O.ORDER_ID=OD.ORDER_ID
INNER JOIN CUSTOMER C ON O.USERNAME=C.USERNAME
WHERE OD.STATUS='SOLD OUT'
GO
/****** Object:  StoredProcedure [dbo].[hotProduct]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[hotProduct]
AS
SELECT top (5) * FROM ORDER_DETAILS o INNER JOIN PRODUCT p ON o.PRODUCT_ID = p.PRODUCT_ID 
INNER JOIN PRODUCT_WAREHOUSE pw ON p.PRODUCT_ID = pw.PRODUCT_ID
INNER JOIN WAREHOUSE w ON pw.WAREHOUSE_ID = w.WAREHOUSE_ID
INNER JOIN FACTORY f ON w.FACTORY_ID = f.FACTORY_ID 
ORDER BY pw.QUANTITY_IN_ORDER DESC
GO
/****** Object:  StoredProcedure [dbo].[productSpecial]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[productSpecial]
AS
SELECT top (4) * FROM PRODUCT p INNER JOIN PRODUCT_WAREHOUSE pw ON p.PRODUCT_ID = pw.PRODUCT_ID
INNER JOIN WAREHOUSE w ON pw.WAREHOUSE_ID = w.WAREHOUSE_ID
INNER JOIN FACTORY f ON w.FACTORY_ID = f.FACTORY_ID 
ORDER BY pw.SELL_OFF DESC
GO
/****** Object:  StoredProcedure [dbo].[productHot]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[productHot]
AS
SELECT top(6)P.PRODUCT_ID,P.PRODUCT_NAME, p.PRICE, p.IMAGES, w.WAREHOUSE_NAME, f.FACTORY_NAME,
SUM(r.RATE) AS HOT 
FROM RATE r INNER JOIN PRODUCT p ON r.PRODUCT_ID = p.PRODUCT_ID 
INNER JOIN PRODUCT_WAREHOUSE pw ON p.PRODUCT_ID = pw.PRODUCT_ID
INNER JOIN WAREHOUSE w ON pw.WAREHOUSE_ID = w.WAREHOUSE_ID
INNER JOIN FACTORY f ON w.FACTORY_ID = f.FACTORY_ID 
WHERE p.STATUS = 'true'
GROUP BY P.PRODUCT_ID,P.PRODUCT_NAME, p.PRICE, p.IMAGES, w.WAREHOUSE_NAME, f.FACTORY_NAME
ORDER BY HOT DESC
GO
/****** Object:  StoredProcedure [dbo].[productDetail]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[productDetail]
	@idPro int
AS 
SELECT top (6) * FROM CATEGORY c INNER JOIN PRODUCT p ON c.CATEGORY_ID = p.CATEGORY_ID 
INNER JOIN PRODUCT_WAREHOUSE pw ON p.PRODUCT_ID = pw.PRODUCT_ID
INNER JOIN WAREHOUSE w ON pw.WAREHOUSE_ID = w.WAREHOUSE_ID
INNER JOIN FACTORY f ON w.FACTORY_ID = f.FACTORY_ID 
WHERE p.STATUS = 'true' AND p.PRODUCT_ID = @idPro
ORDER BY p.PRODUCT_ID DESC
GO
/****** Object:  StoredProcedure [dbo].[productByPrice]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[productByPrice]
	@min FLOAT,
	@max FLOAT
AS SELECT *
FROM CATEGORY c INNER JOIN PRODUCT p ON c.CATEGORY_ID = p.CATEGORY_ID 
INNER JOIN PRODUCT_WAREHOUSE pw ON p.PRODUCT_ID = pw.PRODUCT_ID
INNER JOIN WAREHOUSE w ON pw.WAREHOUSE_ID = w.WAREHOUSE_ID
INNER JOIN FACTORY f ON w.FACTORY_ID = f.FACTORY_ID 
WHERE  @min <= PRICE AND PRICE < @max and p.STATUS='TRUE'
GO
/****** Object:  StoredProcedure [dbo].[productByHouse]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[productByHouse]
	@idHouse int
AS 
SELECT top (6) * FROM CATEGORY c INNER JOIN PRODUCT p ON c.CATEGORY_ID = p.CATEGORY_ID 
INNER JOIN PRODUCT_WAREHOUSE pw ON p.PRODUCT_ID = pw.PRODUCT_ID
INNER JOIN WAREHOUSE w ON pw.WAREHOUSE_ID = w.WAREHOUSE_ID
INNER JOIN FACTORY f ON w.FACTORY_ID = f.FACTORY_ID 
WHERE p.STATUS = 'true' AND w.WAREHOUSE_ID = @idHouse
ORDER BY p.PRODUCT_ID DESC
GO
/****** Object:  StoredProcedure [dbo].[productByCategory]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[productByCategory]
	@idCate int
AS 
SELECT top (6) * FROM CATEGORY c INNER JOIN PRODUCT p ON c.CATEGORY_ID = p.CATEGORY_ID 
INNER JOIN PRODUCT_WAREHOUSE pw ON p.PRODUCT_ID = pw.PRODUCT_ID
INNER JOIN WAREHOUSE w ON pw.WAREHOUSE_ID = w.WAREHOUSE_ID
INNER JOIN FACTORY f ON w.FACTORY_ID = f.FACTORY_ID 
WHERE p.STATUS = 'true' AND c.CATEGORY_ID = @idCate
ORDER BY p.PRODUCT_ID DESC
GO
/****** Object:  StoredProcedure [dbo].[productBestSeller]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[productBestSeller]
AS
SELECT top (2) * FROM ORDER_DETAILS o INNER JOIN PRODUCT p ON o.PRODUCT_ID = p.PRODUCT_ID 
INNER JOIN PRODUCT_WAREHOUSE pw ON p.PRODUCT_ID = pw.PRODUCT_ID
INNER JOIN WAREHOUSE w ON pw.WAREHOUSE_ID = w.WAREHOUSE_ID
INNER JOIN FACTORY f ON w.FACTORY_ID = f.FACTORY_ID 
ORDER BY o.QUANTITY DESC
GO
/****** Object:  StoredProcedure [dbo].[insertIntoRate]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insertIntoRate]
	@productId int,
	@userName varchar(30),
	@rateValue int
AS
	INSERT INTO RATE(PRODUCT_ID,USERNAME,[DATE],RATE)  VALUES(@productId,@userName,GETDATE(),@rateValue)
GO
/****** Object:  StoredProcedure [dbo].[insertIntoOrderDetail]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insertIntoOrderDetail]
	@orderId int,
	@productId int,
	@quantity int
AS INSERT INTO ORDER_DETAILS(ORDER_ID,PRODUCT_ID,QUANTITY,[STATUS]) VALUES(@orderId,@productId,@quantity,'CHECKING')
GO
/****** Object:  StoredProcedure [dbo].[getRateByUserForProduct]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getRateByUserForProduct]
	@productId int,
	@userName varchar(30)
AS
	SELECT * FROM RATE r WHERE r.PRODUCT_ID = @productId and r.USERNAME like @userName
GO
/****** Object:  StoredProcedure [dbo].[getOrderDetailByOrderIdProductId]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getOrderDetailByOrderIdProductId]
	@orderId int,
	@productId int
AS
	SELECT * FROM [ORDER_DETAILS] WHERE ORDER_ID = @orderId AND PRODUCT_ID = @productId
GO
/****** Object:  StoredProcedure [dbo].[getCheckingOfOrderDetail]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getCheckingOfOrderDetail]
	@orderId int
AS
	SELECT COUNT(od.STATUS) AS [COUNT_CHECKING] FROM 
	[ORDER] o INNER JOIN ORDER_DETAILS od ON o.ORDER_ID = od.ORDER_ID 
	WHERE o.ORDER_ID = @orderId and od.STATUS like 'CHECKING'
GO
/****** Object:  StoredProcedure [dbo].[getAllOrderForAdmin]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getAllOrderForAdmin]
AS
	SELECT O.ORDER_ID,O.USERNAME,COUNT(od.PRODUCT_ID) AS NUM_OF_PRODUCT,
	o.RECENT_LEVEL,O.TOTAL_PRICE,O.TOTAL_PRICE_AFTER_CHECK,
	O.ORDER_DATE,O.[STATUS]
	FROM [ORDER] o INNER JOIN CUSTOMER c on o.USERNAME LIKE c.USERNAME 
	INNER JOIN [ORDER_DETAILS] od on o.ORDER_ID = od.ORDER_ID 
	GROUP BY O.ORDER_ID,O.TOTAL_PRICE,O.ORDER_DATE,O.[STATUS],o.RECENT_LEVEL,O.USERNAME,O.TOTAL_PRICE_AFTER_CHECK
GO
/****** Object:  StoredProcedure [dbo].[getAllOrderDetailByOrderId]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getAllOrderDetailByOrderId]
	@orderId int
AS
	SELECT ORDER_ID,od.PRODUCT_ID,QUANTITY,QUANTITY_ACCEPT,od.[STATUS],CATEGORY_ID,PRODUCT_NAME,PRICE,DESCRIPTION,IMAGES FROM ORDER_DETAILS od INNER JOIN PRODUCT p ON od.PRODUCT_ID = p.PRODUCT_ID WHERE ORDER_ID = @orderId
GO
/****** Object:  StoredProcedure [dbo].[getAllOrderByUser]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getAllOrderByUser]
	@userName varchar(20)
AS	
	SELECT O.ORDER_ID,COUNT(od.PRODUCT_ID) AS NUM_OF_PRODUCT,o.RECENT_LEVEL,O.TOTAL_PRICE,O.TOTAL_PRICE_AFTER_CHECK,O.ORDER_DATE,O.[STATUS]  FROM [ORDER] o 
	INNER JOIN CUSTOMER c on o.USERNAME LIKE  c.USERNAME INNER JOIN [ORDER_DETAILS] od on o.ORDER_ID = od.ORDER_ID WHERE c.USERNAME like @userName GROUP BY O.ORDER_ID,O.TOTAL_PRICE,O.ORDER_DATE,O.[STATUS],o.RECENT_LEVEL,O.TOTAL_PRICE_AFTER_CHECK
GO
/****** Object:  StoredProcedure [dbo].[checkProductOfOrderByFactoryId]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[checkProductOfOrderByFactoryId]
	@factoryId int 
AS
	SELECT O.ORDER_ID,O.USERNAME,COUNT(od.PRODUCT_ID) AS NUM_OF_PRODUCT,o.RECENT_LEVEL,O.TOTAL_PRICE,O.TOTAL_PRICE_AFTER_CHECK,O.ORDER_DATE,O.[STATUS],od.[STATUS] AS STATUS_DETAIL FROM 
	[ORDER] o INNER JOIN CUSTOMER c on o.USERNAME LIKE c.USERNAME 
	INNER JOIN [ORDER_DETAILS] od on o.ORDER_ID = od.ORDER_ID 
	INNER JOIN PRODUCT p on p.PRODUCT_ID = od.PRODUCT_ID
	INNER JOIN PRODUCT_WAREHOUSE pw on pw.PRODUCT_ID = p.PRODUCT_ID
	INNER JOIN WAREHOUSE w on w.WAREHOUSE_ID = pw.WAREHOUSE_ID 
	WHERE w.FACTORY_ID = @factoryId
	GROUP BY O.ORDER_ID,O.TOTAL_PRICE,O.ORDER_DATE,O.[STATUS],o.RECENT_LEVEL,O.USERNAME,od.[STATUS],O.TOTAL_PRICE_AFTER_CHECK ORDER BY O.ORDER_ID DESC
GO
/****** Object:  StoredProcedure [dbo].[checkDeleviredStatus]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[checkDeleviredStatus]
	@orderId int
AS
	DECLARE @countStatusDelivered int;
	DECLARE @countQuantityOfOrder int;
	SET @countStatusDelivered = (SELECT COUNT(od.[STATUS]) AS STATUS_DELIVERED FROM ORDER_DETAILS od WHERE od.ORDER_ID = @orderId and od.[STATUS] like 'DELIVERED')
	SET @countQuantityOfOrder = (SELECT COUNT(od.ORDER_ID) AS COUNT_ORDER FROM ORDER_DETAILS od WHERE od.ORDER_ID = @orderId)
	IF (@countQuantityOfOrder=@countStatusDelivered)
		SELECT 'EQUAL' AS TEST
	ELSE
		SELECT 'NOT' AS TEST
GO
/****** Object:  StoredProcedure [dbo].[countStock]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[countStock]
AS SELECT count(p.PRODUCT_ID)as COUNT_PID FROM CATEGORY c INNER JOIN PRODUCT p ON c.CATEGORY_ID = p.CATEGORY_ID 
INNER JOIN PRODUCT_WAREHOUSE pw ON p.PRODUCT_ID = pw.PRODUCT_ID
INNER JOIN WAREHOUSE w ON pw.WAREHOUSE_ID = w.WAREHOUSE_ID
INNER JOIN FACTORY f ON w.FACTORY_ID = f.FACTORY_ID 
WHERE (pw.QUANTIY-pw.QUANTITY_IN_ORDER>0)
GO
/****** Object:  StoredProcedure [dbo].[countStatusSoldOutByOrderId]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[countStatusSoldOutByOrderId]
	@orderId int
AS
	SELECT COUNT(od.STATUS) AS [COUNT_SOLD_OUT] FROM 
	[ORDER] o INNER JOIN ORDER_DETAILS od ON o.ORDER_ID = od.ORDER_ID 
	WHERE o.ORDER_ID = @orderId and od.STATUS like 'SOLD OUT'
GO
/****** Object:  StoredProcedure [dbo].[countStatusDeliveredByOrderId]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[countStatusDeliveredByOrderId]
	@orderId int
AS
	SELECT COUNT(od.STATUS) AS [COUNT_DELIVERED] FROM 
	[ORDER] o INNER JOIN ORDER_DETAILS od ON o.ORDER_ID = od.ORDER_ID 
	WHERE o.ORDER_ID = @orderId and od.STATUS like 'DELIVERED'
GO
/****** Object:  StoredProcedure [dbo].[countRejectedMaterial]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[countRejectedMaterial]
AS 
SELECT COUNT(P.PRODUCT_ID) as COUNT_PID FROM FACTORY F INNER JOIN WAREHOUSE W ON F.FACTORY_ID=W.FACTORY_ID
INNER JOIN PRODUCT_WAREHOUSE PW ON PW.WAREHOUSE_ID=W.WAREHOUSE_ID
INNER JOIN PRODUCT P ON P.PRODUCT_ID=PW.PRODUCT_ID
INNER JOIN ORDER_DETAILS OD ON OD.PRODUCT_ID=P.PRODUCT_ID
INNER JOIN [ORDER] O ON O.ORDER_ID=OD.ORDER_ID
INNER JOIN CUSTOMER C ON O.USERNAME=C.USERNAME
WHERE OD.STATUS='FALSE'
GO
/****** Object:  StoredProcedure [dbo].[countProductByPrice]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[countProductByPrice]
	@min FLOAT,
	@max FLOAT
AS SELECT COUNT(p.PRODUCT_ID) AS COUNT_PID
FROM CATEGORY c INNER JOIN PRODUCT p ON c.CATEGORY_ID = p.CATEGORY_ID 
INNER JOIN PRODUCT_WAREHOUSE pw ON p.PRODUCT_ID = pw.PRODUCT_ID
INNER JOIN WAREHOUSE w ON pw.WAREHOUSE_ID = w.WAREHOUSE_ID
INNER JOIN FACTORY f ON w.FACTORY_ID = f.FACTORY_ID 
WHERE  @min <= PRICE AND PRICE < @max and p.STATUS='TRUE'
GO
/****** Object:  StoredProcedure [dbo].[BestsellerProduct]    Script Date: 22/04/2012 14:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BestsellerProduct]
AS
SELECT top(5)P.PRODUCT_ID,P.PRODUCT_NAME, p.PRICE, p.IMAGES, w.WAREHOUSE_NAME, f.FACTORY_NAME,
SUM(r.RATE) AS HOT 
FROM RATE r INNER JOIN PRODUCT p ON r.PRODUCT_ID = p.PRODUCT_ID 
INNER JOIN PRODUCT_WAREHOUSE pw ON p.PRODUCT_ID = pw.PRODUCT_ID
INNER JOIN WAREHOUSE w ON pw.WAREHOUSE_ID = w.WAREHOUSE_ID
INNER JOIN FACTORY f ON w.FACTORY_ID = f.FACTORY_ID 
GROUP BY P.PRODUCT_ID,P.PRODUCT_NAME, p.PRICE, p.IMAGES, w.WAREHOUSE_NAME, f.FACTORY_NAME
ORDER BY HOT DESC
GO
/****** Object:  Default [DF_CUSTOMER_LEVEL]    Script Date: 22/04/2012 14:28:02 ******/
ALTER TABLE [dbo].[CUSTOMER] ADD  CONSTRAINT [DF_CUSTOMER_LEVEL]  DEFAULT ((1)) FOR [LEVEL]
GO
/****** Object:  Default [DF_ORDER_TOTAL_PRICE_AFTER_CHECK]    Script Date: 22/04/2012 14:28:02 ******/
ALTER TABLE [dbo].[ORDER] ADD  CONSTRAINT [DF_ORDER_TOTAL_PRICE_AFTER_CHECK]  DEFAULT ((0)) FOR [TOTAL_PRICE_AFTER_CHECK]
GO
/****** Object:  Default [DF_ORDER_DETAILS_QUANTITY_ACCEPT]    Script Date: 22/04/2012 14:28:02 ******/
ALTER TABLE [dbo].[ORDER_DETAILS] ADD  CONSTRAINT [DF_ORDER_DETAILS_QUANTITY_ACCEPT]  DEFAULT ((0)) FOR [QUANTITY_ACCEPT]
GO
/****** Object:  Default [DF__PRODUCT_WA__DATE__4D94879B]    Script Date: 22/04/2012 14:28:02 ******/
ALTER TABLE [dbo].[PRODUCT_WAREHOUSE] ADD  DEFAULT (getdate()) FOR [DATE]
GO
/****** Object:  Default [DF__RATE__DATE__4E88ABD4]    Script Date: 22/04/2012 14:28:02 ******/
ALTER TABLE [dbo].[RATE] ADD  DEFAULT (getdate()) FOR [DATE]
GO
/****** Object:  ForeignKey [FK_ORDER_CUSTOMER]    Script Date: 22/04/2012 14:28:02 ******/
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_CUSTOMER] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[CUSTOMER] ([USERNAME])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_ORDER_DETAILS_ORDER]    Script Date: 22/04/2012 14:28:02 ******/
ALTER TABLE [dbo].[ORDER_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DETAILS_ORDER] FOREIGN KEY([ORDER_ID])
REFERENCES [dbo].[ORDER] ([ORDER_ID])
GO
ALTER TABLE [dbo].[ORDER_DETAILS] CHECK CONSTRAINT [FK_ORDER_DETAILS_ORDER]
GO
/****** Object:  ForeignKey [FK_ORDER_DETAILS_PRODUCT]    Script Date: 22/04/2012 14:28:02 ******/
ALTER TABLE [dbo].[ORDER_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DETAILS_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[ORDER_DETAILS] CHECK CONSTRAINT [FK_ORDER_DETAILS_PRODUCT]
GO
/****** Object:  ForeignKey [FK_PRODUCT_CATEGORY]    Script Date: 22/04/2012 14:28:02 ******/
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATEGORY] FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[CATEGORY] ([CATEGORY_ID])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_CATEGORY]
GO
/****** Object:  ForeignKey [FK_PRODUCT_WAREHOUSE]    Script Date: 22/04/2012 14:28:02 ******/
ALTER TABLE [dbo].[PRODUCT_WAREHOUSE]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_WAREHOUSE] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[PRODUCT_WAREHOUSE] CHECK CONSTRAINT [FK_PRODUCT_WAREHOUSE]
GO
/****** Object:  ForeignKey [FK_PRODUCT_WAREHOUSE_WAREHOUSE]    Script Date: 22/04/2012 14:28:02 ******/
ALTER TABLE [dbo].[PRODUCT_WAREHOUSE]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_WAREHOUSE_WAREHOUSE] FOREIGN KEY([WAREHOUSE_ID])
REFERENCES [dbo].[WAREHOUSE] ([WAREHOUSE_ID])
GO
ALTER TABLE [dbo].[PRODUCT_WAREHOUSE] CHECK CONSTRAINT [FK_PRODUCT_WAREHOUSE_WAREHOUSE]
GO
/****** Object:  ForeignKey [FK_RATE_CUSTOMER]    Script Date: 22/04/2012 14:28:02 ******/
ALTER TABLE [dbo].[RATE]  WITH CHECK ADD  CONSTRAINT [FK_RATE_CUSTOMER] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[CUSTOMER] ([USERNAME])
GO
ALTER TABLE [dbo].[RATE] CHECK CONSTRAINT [FK_RATE_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_RATE_PRODUCT]    Script Date: 22/04/2012 14:28:02 ******/
ALTER TABLE [dbo].[RATE]  WITH CHECK ADD  CONSTRAINT [FK_RATE_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[RATE] CHECK CONSTRAINT [FK_RATE_PRODUCT]
GO
/****** Object:  ForeignKey [FK_WAREHOUSE_FACTORY]    Script Date: 22/04/2012 14:28:02 ******/
ALTER TABLE [dbo].[WAREHOUSE]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUSE_FACTORY] FOREIGN KEY([FACTORY_ID])
REFERENCES [dbo].[FACTORY] ([FACTORY_ID])
GO
ALTER TABLE [dbo].[WAREHOUSE] CHECK CONSTRAINT [FK_WAREHOUSE_FACTORY]
GO
