@charset "utf-8";
body { margin:0; padding:0; width:100%; background:#fff url(../images/main_bg.jpg) top center no-repeat;}
html { padding:0; margin:0;}

a { text-decoration:none;}
a:hover { text-decoration:underline;}
/* main */
.main { padding:0; margin:0 auto;}
/********** header **********/
.blok_header { margin:0; padding:0; background:url(../images/header_bg.gif) top repeat-x; height:138px;}
.header { width:960px; margin:0 auto; padding:0;}
.top_link { margin:0 auto; width:200px; float:right; padding:45px 0 0 0;}
.top_link p { font: normal 11px Arial, Helvetica, sans-serif; color:#fff; padding:0; margin:0;}
.top_link p span { font: bold 14px Arial, Helvetica, sans-serif;}
.top_link img { float:left; margin:0 10px 0 0; padding:0;}
/* logo */
.logo { padding:0; margin:0; width:165px; float:left;}
/* menu*/
.menu { padding:10px 5px; margin:0; width:600px; float:left; height:31px;}
.menu ul { padding:0; margin:0; list-style:none; border:0; float:left;}
.menu ul li { float:left; margin:0; padding:0 5px; border:0;}
.menu ul li a { float:left; margin:0; padding:8px 0; color:#fff; font:normal 12px Arial, Helvetica, sans-serif; height:15px; line-height:15px; text-decoration:none;}
.menu ul li a span { padding:8px 10px; background:none;}
.menu ul li a:hover { background: url(../images/r_menu.gif) right no-repeat;}
.menu ul li a:hover span { background:url(../images/l_menu.gif) left no-repeat;}
.menu ul li a.active {background:url(../images/r_menu.gif) right no-repeat;}
.menu ul li a.active span { background:url(../images/l_menu.gif) left no-repeat;}

.menu li:hover > a {color:#000;}
.menu li:hover > a span {}
.menu li:hover > a span.down {}

.menu :hover ul ul, 
.menu :hover ul :hover ul ul,
.menu :hover ul :hover ul :hover ul ul, 
.menu :hover ul :hover ul :hover ul :hover ul ul {position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

.menu :hover ul.sub {left:2px; top:40px; right:2px; background: #fff; padding:3px 0; border:1px solid #009900; white-space:nowrap; width:200px; height:auto;}
.menu :hover ul.sub li {display:block; height:20px; position:relative; float:left; width:250px;}
.menu :hover ul.sub li a {font-weight:normal;display:block; font-size:11px; height:20px; width:192px; line-height:20px; text-indent:5px; color:#000; text-decoration:none; border:3px solid #fff; border-width:0 0 0 3px;}
.menu :hover ul.sub li a.fly {background:#fff url(../images/arrow.gif) 80px 7px no-repeat;}
.menu :hover ul.sub li a:hover {background:#42c555; color:#fff;}
.menu :hover ul.sub li a.fly:hover {background:#42c555 url(../images/arrow_over.gif) 80px 7px no-repeat; color:#fff;}
.menu :hover ul li:hover > a.fly {background:#42c555 url(../images/arrow_over.gif) 80px 7px no-repeat; color:#fff;}

.menu :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul :hover ul :hover ul
{left:90px; top:-4px; background: #fff; padding:3px 0; border:1px solid 95d2ee; white-space:nowrap; width:93px; z-index:200; height:auto;}

/* menu2*/
.menu2 { padding:0 10px; margin:0; width:600px; float:left; height:40px;}
.menu2 ul { padding:0; margin:0; list-style:none; border:0; float:left;}
.menu2 ul li { float:left; margin:0; padding:0 5px; border:0;}
.menu2 ul li a { float:left; margin:0; padding:12px 0; color:#565656; font:normal 11px Arial, Helvetica, sans-serif; line-height:14px; height:14px; text-decoration:none;}
.menu2 ul li a span { padding:12px 10px; background:none;}
.menu2 ul li a:hover { color:#5298b6; background: url(../images/r_menu2.gif) right no-repeat;}
.menu2 ul li a:hover span { color:#5298b6; background:url(../images/l_menu2.gif) left no-repeat;}
.menu2 ul li a.active { color:#5298b6;background:url(../images/r_menu2.gif) right no-repeat;}
.menu2 ul li a.active span { color:#5298b6; background:url(../images/l_menu2.gif) left no-repeat;}
/* search */
.search { padding:13px 20px 0 0; margin:0; width:220px; float:right;}
.search form { display:block; float:right; padding:0;}
.search span { display:block; float:left; background: url(../images/search_bg.gif) left top no-repeat; width:158px; padding:0 5px; height:26px;}
.search form .keywords { font:normal 11px Arial, Helvetica, sans-serif; color:#9a9a9a; line-height:14px; height:14px; float:left; background:none; border:0; width:158px; padding:6px 0; margin:0;}
.search form .button { float:left; margin:0; padding:0;}
/*header_text_bg*/
.header_text_bg { margin:0; padding:0; background:#e2e4e4 url(../images/header_text_bg.gif) top repeat-x;}
.header_text_bg2 { margin:0; padding:0; background:#e2e4e4;}
/*header_text*/
.header_text { margin:0 auto; padding:0; width:960px;}
.header_text .div .left1 { float:right; background:url(../images/simple_text_bg.gif) top no-repeat; width:275px; padding:40px 30px; margin:66px 93px 0 0 !important; margin:66px 47px 0 0; height:182px; }
.header_text .div .left1 img { margin:10px 10px 10px 0; padding:0;}
.header_text .div .left1 h2 {font:normal 18px Arial, Helvetica, sans-serif; color:#439ab9; padding:0 0 10px 0; margin:0; line-height:1.3em;}
.header_text p { font:normal 12px Arial, Helvetica, sans-serif; color:#818181; padding:10px 0 0 0; margin:0; line-height:1.5em;}
/* header_text2 */
.header_text2 { margin:0 auto; padding:0; width:960px;}
.header_text2 h2 { width:300px; float:left; font: bold 36px Arial, Helvetica, sans-serif; color:#498eae; margin:0; padding:36px 0 0 15px;}
/********** body **********/
.body_resize { margin:0; padding:0; background:#fff url(../images/fbg_bg.gif) top repeat-x;}
.body { width:960px;  margin:0 auto; padding:35px 0 0 0; }
.body h2 {font: normal 18px Arial, Helvetica, sans-serif; color:#1d2024; margin:0; padding:10px 0;}
.body h2 span { font:normal 11px Arial, Helvetica, sans-serif; color:#ababab;}
.body img { float:left; padding:0; margin:10px 20px 10px 0;}
.body img.floated { padding:0; margin:10px auto;}
.body p { font:normal 14px Arial, Helvetica, sans-serif; color:#565656; line-height:1.5em; padding:5px 0; margin:0;}
.body p span { font: bold 14px Arial, Helvetica, sans-serif; color:#565656; line-height:1.5em;}
.body a { text-decoration:none; color:#5cbee7; line-height:1.5em; font: bold 12px Arial, Helvetica, sans-serif;}
.right { width:295px; float:right; padding:10px; margin:0;}
.left { width:600px; float:left; padding:10px; margin:0;}
.blog { width:300px; float:left; padding:10px; margin:0;}
.port { width:288px; float:right; padding:10px; margin:0 5px 5px 0; background:#f9f9f9; border:1px solid #f4f4f4;}
/*FBG_resize*/
.FBG { width:960px; margin:0 auto; padding:0;}
.FBG p { font:normal 12px Arial, Helvetica, sans-serif; color:#565656; padding:5px 0; margin:0; line-height:1.6em;}
.FBG img { float:left; margin:5px; padding:0;}
.FBG a { color:#55c5eb; text-decoration:none;}
.left_bg  { width:220px; float:left; margin:0; padding:10px;} 
/*************footer**********/
.footer_resize { width:940px; margin:0 auto; padding:10px;}
.footer p { font:normal 12px  Arial, Helvetica, sans-serif; color:#777;}
.footer a { font:normal 12px Arial, Helvetica, sans-serif; color:#777; text-decoration:none; padding:5px 0; margin:0;}
.footer p.leftt { text-align:left; width:50%; margin:0; padding:10px 0 0 0; float:left;} 
.footer p.rightt { text-align:right; width:30%; margin:0; padding:15px 0 0 0; float:right;} 
.footer {padding:4px 0;  margin:0 auto; border-top:1px solid #dddddd; background: #fff url(../images/fbg_bg_bottom.gif) top center no-repeat;}
/********** contact form **********/
#contactform { margin:0; padding:5px 0;}
#contactform * { color:#9542b8;}
#contactform ol { margin:0; padding:0; list-style:none;}
#contactform li { margin:0; padding:0; background:none; border:none; display:block;}
#contactform li.buttons { margin:5px 0 5px 0;}
#contactform label { float:left; margin:0; width:100px; padding:10px 0; font:normal 12px Arial, Helvetica, sans-serif; color:#1d2024; text-transform:capitalize;}
#contactform input.text { width:280px; border:1px solid #eaeaea; margin:10px 0; padding:10px 2px; height:15px; background:#f8f8f8;}
#contactform textarea { width:390px; border:1px solid #eaeaea; margin:10px 0; padding:2px; background:#f8f8f8; height:100px;}
#contactform li.buttons input { padding:3px 0; margin:0 0 0 100px; border:0; color:#FFF;}

#contactform1 { margin:0; padding:5px 0;}
#contactform1 * { color:#9542b8;}
#contactform1 ol { margin:0; padding:0; list-style:none;}
#contactform1 li { margin:0; padding:0; background:none; border:none; display:block;}
#contactform1 li.buttons { margin:5px 0 5px 0;}
#contactform1 label { float:left; margin:0; width:100px; padding:10px 0; font:normal 12px Arial, Helvetica, sans-serif; color:#1d2024; text-transform:capitalize;}
#contactform1 input.text { width:280px; border:0px solid #eaeaea; margin:10px 0; padding:10px 2px; height:15px; background:#f8f8f8;}
#contactform1 textarea { width:390px; border:1px solid #eaeaea; margin:10px 0; padding:2px; background:#f8f8f8; height:100px;}
#contactform1 li.buttons input { padding:3px 0; margin:0 0 0 100px; border:0; color:#FFF;}


.contactform { margin:0; padding:5px 0;}
.contactform * { color:#9542b8;}
.contactform ol { margin:0; padding:0; list-style:none;}
.contactform li { margin:0; padding:0; background:none; border:none; display:block;}
.contactform li.buttons { margin:5px 0 5px 0;}
.contactform label { float:left; margin:0; width:100px; padding:10px 0; font:normal 12px Arial, Helvetica, sans-serif; color:#1d2024; text-transform:capitalize;}
.contactform input.text { width:280px; border:1px solid #eaeaea; margin:10px 0; padding:10px 2px; height:10px; background:#f8f8f8;}
.contactform textarea { width:390px; border:1px solid #eaeaea; margin:10px 0; padding:2px; background:#f8f8f8; height:100px;}
.contactform li.buttons input { padding:3px 0; margin:0 0 0 100px; border:0; color:#FFF;}
p.response { text-align:center; color:#2c2c2c; font:bold 11px Arial, Helvetica, sans-serif; line-height:1.5em; width:auto;}

p.clr, .clr { clear:both; padding:0; margin:0;}
li.bg, .bg { clear:both; border-bottom:1px solid #e2e2e2; padding:10px 0 0 0; margin:0 0 10px 0; background:none; list-style:none;}
li.line, .line { border-top:1px solid #d9d9d9; padding:0; margin:10px 0; background:none; list-style:none;}


/* slider */
.gallery { float:left; width:482px; height:339px; margin:20px 0 0 50px !important; margin:20px 0 0 25px; }
#slider { margin:0; padding:0; list-style:none; }
#slider ul,
#slider li { margin:0; padding:0; list-style:none; }
/* 
    define width and height of list item (slide)
    entire slider area will adjust according to the parameters provided here
*/
#slider li { width:482px; height:339px; overflow:hidden; }
p#controls { margin:0; position:relative; }
#prevBtn { display:block; margin:0; overflow:hidden; width:38px; height:38px; position:absolute; left:-54px; top:-190px; }
#nextBtn { display:block; margin:0; overflow:hidden; width:38px; height:38px; position:absolute; left: 848px; top:-190px; }
#prevBtn a { display:block; width:38px; height:38px; background: url(../images/l_arrow.gif) no-repeat 0 0; }
#nextBtn a { display:block; width:38px; height:38px; background: url(../images/r_arrow.gif) no-repeat 0 0; }